### Data Dictionary

An insurance company offers a one-year term life insurance policy that pays 150,000 in the event of death within one year. The premium (annual cost) for this policy for a 50 year old female is 1,150. Suppose that in the event of a claim, the company forfeits the premium and loses a total of 150,000, and if there is no claim the company gains the premium amount of 1,150. The company plans to sell 1,000 policies to this demographic.

50 year old males have a different probability of death than 50 year old females. We will calculate a profitable premium for 50 year old males in the following four-part question.

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

%matplotlib inline
sns.set_style('dark')
sns.set(font_scale=1.5)

import warnings
warnings.filterwarnings('ignore')


pd.options.display.max_columns= None
#pd.options.display.max_rows = None

### Data Exploration

In [2]:
df = pd.read_csv("deathprob.csv")

In [3]:
df

     age     sex      prob
0      0    Male  0.006383
1      1    Male  0.000453
2      2    Male  0.000282
3      3    Male  0.000230
4      4    Male  0.000169
..   ...     ...       ...
235  115  Female  0.739722
236  116  Female  0.777142
237  117  Female  0.815999
238  118  Female  0.856799
239  119  Female  0.899639

[240 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     240 non-null    int64
 1   sex     240 non-null    object
 2   prob    240 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 5.8+ KB

In [5]:
df.describe(include='all')

               age   sex        prob
count   240.000000   240  240.000000
unique         NaN     2         NaN
top            NaN  Male         NaN
freq           NaN   120         NaN
mean     59.500000   NaN    0.127254
std      34.712206   NaN    0.223504
min       0.000000   NaN    0.000091
25%      29.750000   NaN    0.001318
50%      59.500000   NaN    0.008412
75%      89.250000   NaN    0.138332
max     119.000000   NaN    0.899639

In [6]:
df.shape

(240, 3)

In [7]:
df.columns

Index(['age', 'sex', 'prob'], dtype='object')

In [8]:
#QUESTION 1 - DEATH_PROB DATA FEMALE

In [9]:
#Question 1 - find the prob of 50 yo females
df['sex'].value_counts()

Male      120
Female    120
Name: sex, dtype: int64

In [10]:
females = df[df['sex'] == 'Female']

In [11]:
females

     age     sex      prob
120    0  Female  0.005374
121    1  Female  0.000353
122    2  Female  0.000231
123    3  Female  0.000165
124    4  Female  0.000129
..   ...     ...       ...
235  115  Female  0.739722
236  116  Female  0.777142
237  117  Female  0.815999
238  118  Female  0.856799
239  119  Female  0.899639

[120 rows x 3 columns]

In [12]:
females['age'].value_counts()

119    1
118    1
31     1
32     1
33     1
      ..
84     1
85     1
86     1
87     1
0      1
Name: age, Length: 120, dtype: int64

In [13]:
females['age'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119], dtype=int64)

In [14]:
1/120

0.008333333333333333

In [15]:
#Question 2 - mu of policy on 50 yo females

In [16]:
#Question 3 - sigma of policy on 50 yo female

In [17]:
#Question 4 - mu of 1000 policies

In [18]:
#Question 5 - sigma of 1000 policies

In [19]:
#Question 6 - CLT prob insurance company loses money

In [20]:
#QUESTION 2 - DEATH_PROB DATA MALE

In [21]:
#Question 1 - find the prob of 50 yo male

In [22]:
#Question 2 - what premium needs to be paid over 1000 policies for $700k profit

In [23]:
#Question 3 - Sigma of the new premium rate

In [24]:
#QUESTION 3 - DEATH_PROB DATA + CATASTROPHIC PANDEMIC (0.015)

In [25]:
#Question 1 - expected value of a 50 yo over 1000 policies

In [26]:
#Question 2 - standard error of a 50 yo over 1000 policies

In [27]:
#Question 3 - probability of losing money

In [28]:
#Question 4 - prob of 1 mil loses

In [29]:
#Question 5 - lowest death probability losing money exceeds 90%

In [30]:
#Question 6 - lowest death probability losing 1mil exceeds 90%

In [31]:
#QUESTION 4 - DEATH_PROB DATA + CATASTROPHIC PANDEMIC (0.015) CONT

In [32]:
#Question 1 - create sampling model for total profit over 1000 loans

In [33]:
#Question 2 - monte carlo of 10000 replicates new seed prob of losing 1mil

In [34]:
#QUESTION 5 - DEATH_PROB DATA + CATASTROPHIC PANDEMIC (0.015) CONT

In [35]:
#Question 1 - find the premium so chance of loss is below 5%

In [36]:
#Question 2 - mu of this rate

In [37]:
#Question 3 - mu over 1000 policies

In [38]:
#Question 4 - monte carlo of loss on losing money

In [39]:
#QUESTION 6 - DEATH_PROB DATA + CATASTROPHIC PANDEMIC (0.015) + UNCERTAINTY +-(0.01)

In [40]:
#Question 1 - expected value over 1000 policies

In [41]:
#Question 2 - probability of losing money

In [42]:
#Question 3 - prob loss greater than a mil